<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Alloy Airsoft</title>
        <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_link_tags('styles') }}
    </head>
    <body>
        <div id="root">

        </div>
    </body>
</html>